@charset "UTF-8";
/* CSS Document */

.smartthreema_container {
  border: 1px solid black;
  align-items: center!important;
  text-align: center!important;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.smartthreema_container_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}








/* old */

#smartthreema_h3 {
	color:black;
	font-size: 1em;
}


.smartthreema_box {
    vertical-align:middle
  	width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  	padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
  	border: 3px dotted black;
	background: #fff;
	color: black;
	font-size: 22px;
}


.smartthreema_box_v2 {
  	width: 100%;
  	padding: 10px 10px 10px 10px;
  	border: 1px solid black;
	background: #fff;
	color: black;
	font-size: 12px;
}

.smartthreema_box_v3 {
  	padding: 10px 10px 10px 10px;
 }

.smartthreema_img {
	/* float: left; */
	padding-right: 20px;
    padding-left: 20px;
    vertical-align:middle

}

.smartthreema_minimsg {
    font-size: 0.7em;
    padding-left: 150px;
}

a.smartthreema_link:link {
  color:#000;
  }
 a.smartthreema_link:visited {
  color:#000;
  }
 a.smartthreema_link:hover {
  color:#000;
  }

a.smartthreema_linkm:link {
  color:#000;
font-size: 0.7em;
  }
 a.smartthreema_linkm:visited {
  color:#000;
     font-size: 0.7em;
  }
 a.smartthreema_linkm:hover {
  color:#000;
     font-size: 0.7em;
  }